html, body {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(#eee, #ccc);
  overflow: hidden;
}
@font-face {
	font-family:'iconfont';
	src: url('../font_757716_1j5dvcfba7ci/iconfont.eot');
	src: url('../font_757716_1j5dvcfba7ci/iconfont.eot?#iefix')   format('embedded-opentype'),
    url('../font_757716_1j5dvcfba7ci/iconfont.woff') format('woff'),
    url('../font_757716_1j5dvcfba7ci/iconfont.ttf') format('truetype'),
    url('../font_757716_1j5dvcfba7ci/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:26px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.selector {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 118px;
  height: 118px;
  margin-top: -59px;
  margin-left: -59px;
}
.selector, .selector button {
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
}

.selector button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #428bca;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all .1s;
}

.selector button:hover {
  background: #3071a9;
}

.selector button:focus {
  outline: none;
}

.selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
}
.selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 0.8s ease-in-out;
}
.selector li input {
  display: none;
}
.selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}

.selector li input + label:hover {
  background: #f0f0f0;
}
.selector.open li input + label {
  width: 210px;
  height: 210px;
  line-height: 210px;
  margin-left: -105px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 26px;
  color: #428bca;
}
